In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("PrePlacement.csv")
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

In [3]:
dataset.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

# T-TEST--PAIRED T-TEST--UNPAIRED T-TEST

In [ ]:
#UNPAIRED T-TEST---INDEPENDENT SAMPLE--DIFFERENT GROUP(MALE,FEMALE)-SAME CONDITION(SALARY)-p-value-0-5%-good

In [5]:
#Independant Sample- Unpaired T Test
#Diferrent Group(Others, Central) but same condition(salary)

In [4]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
Others = dataset[dataset['hsc_b']=='Others']['salary']
Central = dataset[dataset['hsc_b']=='Central']['salary']
ttest_ind(Others, Central)

Ttest_indResult(statistic=0.30570032095155825, pvalue=0.7601313863865756)

In [14]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
Others = dataset[dataset['ssc_b']=='Others']['salary']
Central = dataset[dataset['ssc_b']=='Central']['salary']
ttest_ind(Others,Central)

Ttest_indResult(statistic=0.6182213205902315, pvalue=0.5370899470596882)

In [11]:
#Same Group(Commerce) but Different Condition(mba_p,etest_p)

In [12]:
from scipy.stats import ttest_rel
#datasets=dataset.dropna()
Commerce = dataset[dataset['hsc_s']=='Commerce']['mba_p']
Commerce1 = dataset[dataset['hsc_s']=='Commerce']['etest_p']
ttest_rel(Commerce, Commerce1)

Ttest_relResult(statistic=-7.868552092606869, pvalue=2.462926468454984e-12)

# HYPOTHESIS TESTING

In [15]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
Others = dataset[dataset['hsc_b']=='Others']['salary']
Central = dataset[dataset['hsc_b']=='Central']['salary']
ttest_ind(Others, Central)

Ttest_indResult(statistic=0.30570032095155825, pvalue=0.7601313863865756)

In [16]:
#hsc_b of others and central -salary is not same

In [17]:
#probability value - greater than 5% 
#so accept null hypothesis and reject alternate hypothesis

In [ ]:
#H0-there is no significant difference between these columns
#H1-there is significant difference between these columns
 #accept null hypothesis and reject alternate hypothesis